.home-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.home-nav {
    display: flex;
    height: 36px;
}

.home-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem 1.5rem;
}

.hero-wrapper {
    background: url("../resources/images/profilepicture.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: var(--light-color);
}

.jumbo-name {
    color: var(--secondary-yellow);
}

.sub-jumbo-name {
    color: var(--primary-two);
}