html {
    background-color: #f6f6f6;
    color: #555;
    font-family: Helvetica,"Khyay-Regular", Arial, sans-serif;
    font-weight: 100;
    font-size: 120%;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0%;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    color: #f2f2f2;
    background-color: #242426;
    line-height: 1.75;
}